body
{
	background-image: url('../../../images/best.jpg');
	color: white;
	padding-top: 50px;
	background-size: 100% 720px;
	
}


<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/font.css">