{% extends "header.html" %}
{% block title %} register {% endblock %}
{% block style %}{% endblock %}
{% block body %}
<div class="container" style="margin-top:60px; margin-bottom:60px;">
{% for comment in comments %}

    <div class="row">
        <div class="col-md-12">
                <span><a href="/profile/{{comment[0]}}"><h3>@{{comment[0]}}</h3></a></span>
                <span><h4>{{comment[1]}}</h4></span>
        </div>
    </div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" action="/comment_post/{{post_id}}" method="post">
            <div class="form-group">
                <label for="inputComment" class="sr-only">@{{username}}</label>
                <input type="text" class="form-control" id="inputComment" name="inputComment" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% include("footer.html") %}