<ul class="footer">
      <li><a href="/home" class="{{ home }}"><i class="fa fa-home fa-3x"></i></a></li>
      <li><a href="/search" class="{{ search }}"><i class="fa fa-search fa-3x"></i></a></li>
      <li><a href="/make_post" class="{{ camera }}"><i class="fa fa-camera fa-3x"></i></a></li>
      <li><a href="/profile/{{username}}" class="{{ user }}"><i class="fa fa-user fa-3x"></i></a></li>
      <li><a href="/messages/0" class="{{ inbox }}"><i class="fa fa-inbox fa-3x"></i></a></li>
    </ul>