{% extends "header.html" %}
    {% block title %}Login {% endblock %}
    {% block style %}
      .loginform{
        width: 50%;
        height: 50%;
        align-items: center;
      }
      @keyframes opac {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      .fade{
        animation-name: opac;
        animation-duration: 2s;
        opacity: 1;
      }
      .hello{
        margin-top: 70px;
        width: 100;
        text-align: center;
      }
      @keyframes waving {
        0% {transform: rotate(0deg);}
        100%{transform: rotate(20deg);}
      }
      .wave{
        height: 10%;
        width: 10%;
        animation: waving;
        animation-duration: 2s;
        animation-iteration-count: 4;
        animation-direction: alternate;
      }{% endblock %}



    {% block body %}<div class="hello">
      <span class="">
        <h1 class="fade">Hello!</h1>
      </span>
      <span>
        <img src="{{ url_for('static',filename='images/wave.png')}}" alt="hello" class="wave">
      </span>
    </div>
    <div class="container" style="margin-top: 30px;">
      <form class="form-group" action="/login" method="post">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4" >

            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div><input type="Username" placeholder="username" name="username" class="form-control"><br>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" align="center">
        	<div class="input-group" style="padding-bottom: 10px; padding-top: 10px;">
        		<div class="input-group-addon"><i class="fa fa-key"></i></div><input type="Password" placeholder="password" name="password" class="form-control"><br>
        	</div>
        </div>
        </div>
        <div class="row" style="margin-top: 10px;">
        <div class="col-md-4"></div>
        <div class="col-md-4" align="center">
        	<div>
        		<button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
              <a class="btn btn-primary" href="/register" role="button"><i class="fa fa-cloud-upload"></i> Register</a>
        	</div>
        	</div>
        	</div>
        {%  if error  %}
        <div class="row" style="padding-top: 20px;">
          <div class="col-md-4"></div>
          <div class="col-md-4 alert alert-danger" role="alert"><p>Please enter valid username and password!</p></div>
          <div class="col-md-4"></div>
        </div>
        {%  endif  %}

      </form>

    </div>{% endblock%}

