{% extends "header.html" %}
{% block title %} register {% endblock %}
{% block style %}
.chat{
    list-style-type: none;
    margin: 0;
    margin-top: 43px;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.chat li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #595959;
    text-align: center;
}

.chat li a.active {
    background-color: #4CAF50;
    color: white;
}

.chat li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
{% endblock %}
{% block body %}
<ul class="chat">
            {% for chat in chats%}
          <li><a href="/messages/{{chat[0]}}" class="{% if chat[1]==user2 %}active{% endif %}">@{{chat[1]}}</a></li>
            {% endfor %}
        </ul>
        <div class="" style="margin-left:10%;padding:1px 16px;">
            <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
                {% for msg in message %}
              <div class="row" style="margin-top:5%;">
                <div class="col-md-4 text-{% if username==msg[1] %}right{% else %}left{% endif %}">
                    {% if username==msg[1] %}@me{% endif %}
                </div>
                <div class="col-md-4 text-{% if username==msg[1] %}left{% else %}right{% endif %}" style="background-color: white;">
                  <p style="border-{% if username==msg[1] %}left{% else %}right{% endif %}: 2px solid black; border-radius: 8px; padding: 5px;">{{msg[0]}}<p>
                </div>
                <div class="col-md-4">
                    {% if username!=msg[1] %}@{{user2}}{% endif %}
                </div>

              </div>
                {% endfor %}
              <div class="row" style="margin-top:5%; ">
                <div class="col-md-4">

                </div>
                <form class="form-inline" action="/send_message/{{chat_id}}" method="post">
                <div class="col-md-4 form-group" style="background-color: white;">
                      <label for="inputMessage" class="sr-only">Message:</label>
                      <input type="text" class="form-control" id="inputMessage" name="inputMessage" placeholder="" style="width: 100%;">
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                </form>
                </div>
        </div>
        </div>
{% endblock %}
{% include("footer.html") %}