{% extends "header.html" %}
{% block title %} register {% endblock %}
{% block style %}{% endblock %}
{% block body %}<div class="container" style="margin-top: 100px;">
  {% if error %}
        <div class="row" style="">
          <div class="col-md-4"></div>
          <div class="col-md-4 alert alert-danger" role="alert"><p>{% if uerror==False %}Username taken!{% endif %} {% if eerror==False %}Email already stored!{% endif %}{% if perror==False %}Phone Number already stored!{% endif %}</p></div>
          <div class="col-md-4"></div>
        </div>
  {% endif %}
      <form method="post" action="/check" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail" class="col-form-label" >Email</label>
      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
    </div>
  </div>
   <div class="row">
  <div class="form-group col-md-6">
    <label for="inputName" class="col-form-label">Full Name</label>
    <input type="text" class="form-control" id="inputName" name="name" placeholder="" required>
  </div>
     <div class="form-group col-md-6">
    <label for="inputPhone" class="col-form-label">Phone Number</label>
    <input type="number" class="form-control" id="inputPhone" name="phone_no" placeholder="" required>
  </div>
   </div>
  <div class="form-group">
    <label for="inputUsername" class="col-form-label">username</label>
    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity" class="col-form-label">City</label>
      <input type="text" class="form-control" id="inputCity" name="city" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputLink" class="col-form-label">Link</label>
      <input type="text" id="inputLink"  name="link" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label for="inputDate" class="col-form-label">Date Of Birth</label>
      <input type="date" class="form-control" id="inputDate" name="dob" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="gender" value="male"> Male
          <input class="form-check-input" type="checkbox" name="gender" value="female"> Female
        </label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputBio" class="col-form-label">Bio</label>
      <input type="text" class="form-control" id="inputBio" name="bio">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <div class="col-md-4">
              <div class="form-group">
                <label class="custom-file">
                  <input required type="file" id="file" class="custom-file-input" name="input_file" onchange="document.getElementById('preview-img').src = window.URL.createObjectURL(this.files[0])">
                  <span class="custom-file-control"></span>
                </label>
                </div>
              </div>
      </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>

</form>
    </div>
{% endblock %}